{% extends "base.html" %}
{% block title %} Send Message {% endblock %}
{% block content %}
<div class="container">
    <div class="panel panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">Compose</div>
            <form class="navbar-form" method="post">
                {% csrf_token %}
                <ul class="list-group">
                    {% include 'form_fields_loop.html' %}
                </ul>
                <button class="btn btn-primary" type="submit">Send</button>
                <a href="{% url 'listmessages' %}" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    </div>
</div>

<script>
$("#{{ form.destination.id_for_label }}").chosen()
</script>

{% endblock %}